body {
    padding: 50px 50px 50px 50px;
    background-color: black;
    background-size: 50px 50px;
    background-position: 50% 0%;
    background-image:
       linear-gradient(0deg, transparent 49px, #666 50px),
       linear-gradient(90deg, transparent 49px, #666 50px);
    color: white;
    width: 100%;
    height: 100%;
    margin: 5px;
}
  
.center{
    display: block;
    text-align: center;
    margin: 0 auto;
    align-self: center;
    width: 80%;
    background-color: black;
    padding: 50px 50px;
    border-style: outset;
    border-width: 1px;
    overflow: auto;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 50px 50px;
    align-content: stretch;
    justify-content: center;
}

.window {
    display: block;
    margin: 50px auto;
    width: 50%;
    text-align: left;
    font-family: monospace;
    border-width: 0 2px 2px 1px;
    background-color: black;
    border-style: outset;
    border-color:white;
}
.window p, table {
    margin: -10px 10px 10px 10px;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.5;
}

.prof {
    text-align: center;
    align-self: center;
    margin: 25px 25px;
    width: 20%;
    vertical-align: top;
    font-family: monospace;
    border-width: 0 2px 2px 1px;
    background-color: black;
    border-style: outset;
    border-color:white;
    word-break: break-all;
}
.prof p, table {
    margin: -10px 10px 10px 10px;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.5;
}

h4{
    width: 99%;
    padding-left:1%;
    text-align: left;
    margin-top:0;
    border-style: outset;
    border-width: 5px 0px 1px 0px;
    background-color: black;
    font-family: serif;
    font-style:italic;
    letter-spacing: 2px;
    color: white;
}

.name {
    text-align: left;
    font-family: serif;
    font-style:italic;
    letter-spacing: 2px;
}

.title {
    padding: 50px 0px 50px 0px;
    width: 50%;
}

.count {
    font-family: serif;
    font-style:italic;
    letter-spacing: 2px;
}

.botan li{
    display: inline;
    padding: 0px 20px;
    margin: 5px 10px;
    border-style: solid;
    background-color: #DFDFDF;
    border-color: #ffffff #808080 #808080 #ffffff;
    text-align: center;
    font-family: serif;
    font-style:italic;
    font-weight: bold;
    letter-spacing: 2px;
    color: black;
}

.botan li:hover {
    cursor:pointer
}

.botan li:active {
    border-color: #808080 #ffffff #ffffff #808080;
}


a{
    text-decoration:none; 
}

main a[href]:link {
    color:#0000FF; 
    background-color: #FFFFFF;
}
main a[href]:visited {
    color:#FFFFFF; 
    background-color: #696969;
}
main a[href]:hover {
    color:#FFFFFF; 
    background-color: #0000FF;
}

.news {
    vertical-align: "top";
}
 .news th{
    font-style: bold;
    width: 100px;
    vertical-align: top;
}


@media screen and (max-width:900px){
    .title {
          width: 100%;
    }
    .window {
         display: block;
         margin: 0 auto;
         width: 90%;
    }
}

.bold {
    font-weight: bold;
    text-shadow: 
    0.3px 0.3px 0, 
    0.3px -0.3px 0px,
    -0.3px 0.3px 0,
    -0.3px -0.3px 0px,
    0.3px 0px 0px,
    0px 0.3px 0px,
    -0.3px 0px 0px,
    0px -0.3px 0px;
    letter-spacing: 1px;
}

.italic {
    font-family: serif;
    font-style:italic;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 80%;
}

.memo {
    display: block;
    font-style:italic;
    color: #666;
    padding-top:0.7em;
    font-size: 90%;
}

.blue {
    color: #ba0000;
}

.prof img{
    margin: 0 5px 5px 0;
    border-style: solid;
    border-width: 1px;
    display: block;
}

.filter1 {
    filter: drop-shadow(5px 5px 0px #b0b0b0) brightness(70%) grayscale(100%) contrast(1000%);
}
.nofilter {
    filter: drop-shadow(5px 5px 0px #6f6f6f);
}

.filter1light {
    filter: drop-shadow(5px 5px 0px #b0b0b0) brightness(130%) grayscale(100%) contrast(200%);
}

.filtermono {
    filter: drop-shadow(5px 5px 0px #b0b0b0) grayscale(100%);
}

.mono {
    filter: drop-shadow(5px 5px 0px #b0b0b0) grayscale(100%) contrast(150%);
}

.prof img:hover {
    filter: drop-shadow(5px 5px 0px #b0b0b0) brightness(100%) grayscale(0%) contrast(100%);
}
.mono:hover {
    filter: drop-shadow(5px 5px 0px #b0b0b0) brightness(100%) grayscale(0%) contrast(100%);
}

::-webkit-scrollbar{
    display: none;
  }
