body {
    color: rgb(0, 0, 0);
    font-family: serif;
    width: 60%;
    max-width: 700px;
    padding: 50px;
    margin: 0 auto;
}
body::after {
    content: "";
    position: fixed;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    -webkit-backdrop-filter: blur(12px) opacity(23%) saturate(50%);
    backdrop-filter: blur(16px) opacity(23%) saturate(50%);
    top: -5px;
    left: -5px;
    margin: auto;
    z-index: 5;
    pointer-events: none;
}

canvas { 
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
}

main {
    height: 100%;
    margin: 5px;
}

.center {
    display: block;
    align-self: center;
    margin: 0 auto;
    text-align: center;
}

.center .back {
    display: block;
    text-align: left;
    padding: 0px 10%;
    color: #000000;
}

.title {
    display: block;
    margin: 60px 0;
    filter: invert();
    width: 50%;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 50px 50px;
    align-content: stretch;
    justify-content: center;
}

.window {
    display: block;
    margin: 50px 0;
    text-align: left;
    font-size: 0.9em;
}

.window img {
    max-width:100%;
}

.people{
    background-color: #FFF;

    position:absolute;
}

/* ウィンドウ内コンテンツ */

.prof {
    text-align: center;
    align-self: center;
    margin: 25px 25px;
    width: 20%;
    vertical-align: top;
    border-width: 0 2px 2px 1px;
    border-style: outset;
    border-color: white;
    word-break: break-all;
    font-size: 0.9em;
}

.bar {
    display: block;

}

h4 {
    padding-top: 80px;
    padding-bottom: 10px;
    text-align: right;
    vertical-align: middle;
    margin-top: 0;
    letter-spacing: 2px;
    overflow: hidden;
}

#hedicon {
    margin-right: 6px;
    margin-left: auto;
    margin-top: -20px;
    padding-bottom: 17px;
    box-shadow: none;
    outline: none;
}

.window #hedicon {
    display: block;
    padding-bottom: 30px;
}

.prof span,
table {
    display: block;
    margin: -10px 12px 12px 10px;
    text-align: justify;
}

.name {
    text-align: left;
    font-family: serif;
    font-style: italic;
    letter-spacing: 2px;
}

.count {
    font-family: serif;
    font-style: italic;
    letter-spacing: 2px;
}

.prof img {
    margin: 0 10px 10px 0;
    outline: 1px solid;
    display: block;
    box-shadow: 4px 4px 0 rgb(0, 0, 0), 5px 5px 0 rgb(255, 255, 255);
}

.shadowimg img {
    display: inline-block;
    margin: 5px 10px 10px 0px;
    outline: 1px solid;
    box-shadow: 4px 4px 0 rgb(0, 0, 0), 5px 5px 0 rgb(255, 255, 255);
}


/* wiki */
h1 {
    font-size: 188%;
    line-height: 1.3;
    font-weight: normal;
    margin-bottom: 1em;
    border-bottom: 1px solid #a2a9b1;
}

h2 {
    font-size: 150%;
    font-weight: normal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.5em;
    border-bottom: 1px solid #a2a9b1;
}

h3 {
    font-size: 128%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.5em;
}

.filter1 {
    filter: brightness(70%) grayscale(100%) contrast(1000%);
}

.nofilter {
    filter: none;
}

.filter1light {
    filter: brightness(130%) grayscale(100%) contrast(200%);
}

.filtermono {
    filter: grayscale(100%);
}

.mono {
    filter: grayscale(100%) contrast(150%);
}

.prof img:hover {
    filter: brightness(100%) grayscale(0%) contrast(100%);
}

.mono:hover {
    filter: brightness(100%) grayscale(0%) contrast(100%);
}

.logo {
    filter: brightness(1000%) grayscale(100%) contrast(1000%);
}

.prof .logo:hover {
    filter: brightness(1000%) grayscale(100%) contrast(1000%);
}


/* ボタン */

a {
    text-decoration: none;
}

main a[href]:link:not(.linkimage) {
    padding: 0px 3px;
    color: #FFFFFF;
    background-color: #000;
}

main a[href]:visited:not(.linkimage) {
    color: #FFFFFF;
    background-color: #000;
}

main a[href]:hover:not(.linkimage) {
    color: #FFFFFF;
    background-color: gray !important;
}

.news {
    vertical-align: "top";
}

.news th {
    font-style: bold;
    width: 100px;
    vertical-align: top;
}

.cont {
    vertical-align: "top";
}

.cont th {
    font-style: bold;
}


/* works */
.works {
    display: flex;
    flex-wrap: wrap;
}

.worksImage {
    margin: 10px;
    margin-bottom: 90px;
    width: 150px;
    height: 150px;
    outline: 1px dashed black;
}

a div.worksImage{
    outline: 1px solid black;
}

.worksImage div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.worksImage div img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.worksImage div img[src$="n.png"],.worksImage div img[src$="f.png"] {
    width: 60px;
    height: 60px;
}

p.tit {
    font-weight: bold;
}

.works div span :not(.tit) {
    font-size: 0.8em;
}

.linkimage {
    color: black;
}


/* フォント */

.bold {
    font-weight: bold;
}

.italic {
    font-family: serif;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 80%;
}

.memo {
    display: block;
    font-style: italic;
    color: #666;
    padding-top: 0.7em;
    font-size: 90%;
}

.blue {
    color: #ba0000;
}

@import url("ll.css");

.ll {
    font: 1.5em "LL", sans-serif;
    font-size: 13px;
    letter-spacing: 0.1em;
}

::-webkit-scrollbar {
    display: none;
}

/* ヘッダー */
* {
    margin: 0px;
    padding: 0px;
}


header {
    margin: 0 auto;
    align-self: center;
    overflow: hidden;
}

/* レアネレイ語説明処理 */
#LL {
    font-family: "LL", Courier, monospace;
    letter-spacing: 0.1em;
}

.reibun {
    margin: 10px 20px 20px 20px;
    padding: 20px 50px 20px 50px;
    line-height: 1.4em;
    border-left: solid 10px #CCC;
}

/* スマホ用 */
@media screen and (max-width:900px) {
    body {
        width: 95%;
        padding: 5px;
        margin: 0 auto;
        font-size: 0.8em;
    }

    main {
        padding: 0;
        margin: 10px 0;
    }

    .center {
        padding: 10px 0px;
        width: 97%;
    }

    .title {
        width: 100%;
    }

    .boxes {
        margin: 10px;
    }

    .window {
        display: block;
        margin: 20px auto;
        width: 97%;
    }

    .prof {
        margin: 0 0 40px 0;
        width: 100% !important;
    }

    .none {
        display: none;
    }

    /* ヘッダー */
    header img[src="icon.png"] {
        display: none;
    }

    header a[href="404.html"] {
        display: none;
    }

    header a[href="olime_sian.html"] {
        display: none;
    }

    header a[href="hazuqu.html"] {
        display: none;
    }
}
