/* 基本的な構成ですね */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@330&family=Zen+Kaku+Gothic+New&display=swap');

/* 汎用設定 */
:root {
    --背景色: #e0e0e0;
    --黒: #000;
    --白: #FFF;
    --ハイライト: oklch(45% 0.4 265);
    --ページなし: #6e6e6e;
    --ra: 20px;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    background-color: var(--背景色);
}

body {
    max-width: 1200px;
    margin: 0 auto;
    /* 基本的な文字の扱い */
    line-height: 2.1;
    line-break: strict;
    font-family: "Zen Kaku Gothic New", "Noto Sans SC", sans-serif;
    font-weight: 300;
    font-size: 15px;
}

main {
    width: 800px;
    margin: 0 auto;
}

img {
    width: 100%;
}

iframe {
    width: 75%;
    aspect-ratio: 16/9;
    margin: 0 auto;
    display: block;
}

::selection {
    color: var(--白);
    background-color: var(--黒);
}

/* ぼかし */
body::after {
    content: "";
    position: fixed;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    -webkit-backdrop-filter: blur(12px) opacity(23%) saturate(50%);
    backdrop-filter: blur(16px) opacity(23%) saturate(50%);
    top: -5px;
    left: -5px;
    margin: auto;
    z-index: 5;
    pointer-events: none;
}



/* 全体に対する設定ですね */

/* 段落の話 */

.おおきな分類 {
    padding-bottom: 50px;
}

.ちゅうくらいの分類 {
    padding-bottom: 20px;
}

.小さな分類 {
    padding-bottom: 10px;
}

.横に狭い分類 {
    max-width: 700px;
    margin: 0 auto;
}

p {
    margin-bottom: 1.3em;
}

p+ul,
p+table {
    margin-top: -1em;
}


/* イメージの話 */

.丸いアイコン {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

/* 文字の話 */
@font-face {
    font-family: 'Cosmic Standard';
    src: url('../Cosmic_Standard/Cosmic-Standard.ttf') format('truetype');
}

h1,
h2 {
    font-family: "Cosmic Standard", "Zen Kaku Gothic New", "Noto Sans SC", sans-serif;
}

a[href]:has(img, div) {
    text-decoration: none;
    border-color: transparent;
    padding: 0;
    border-radius: 0;
}

a[href],
.コピー！ {
    color: var(--ハイライト);
    border: 1px solid var(--ハイライト);
    border-radius: var(--ra);
    padding: 2px 5px;
}

a[href]:active {
    color: #fe0000;
    border-color: #fe0000;
}

a[href]:visited {
    color: #551b8c;
    border-color: #551b8c;
}

.SNSへのリンクたち a[href] {
    color: var(--白);
}

.目次 a[href] {
    color: var(--黒);
}

/* 文字装飾の話 */

.コメント文字 {
    text-align: center;
    line-height: 1.5rem;
    font-size: 0.7em;
}

.小さい文字 {
    line-height: 1.5rem;
    font-size: 0.7em;
}

.中央に揃う文字 {
    text-align: center;
}

.太い文字 {
    font-weight: bold;
    letter-spacing: 4px;
}

.下線 {
    text-decoration: underline var(--ハイライト);
}

.つなぐ線 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    fill: none;
    stroke: var(--ハイライト);
}

.囲い文字 {
    border: 1px solid;
    border-radius: var(--ra);
    padding: 2px 5px;
    margin: 0 5px;
}

.引用 {
    border-radius: var(--ra);
    outline: 1px solid var(--黒);
    padding: 5px 20px;
    margin-right: 10px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.箇条書き {
    display: inline-block;
    border-radius: var(--ra);
    outline: 1px solid var(--黒);
    padding: 0 10px;
}

summary {
    width: fit-content;
    cursor: pointer;
    list-style: none;
}

details>*:not(summary) {
    margin-left: 20px;
}

/* リストの話 */

ul {
    list-style: none;
    padding-left: 2.5em;
    position: relative;
}

ul:not(ul ul)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: calc(var(--ra) - 5px);
    border: 1px solid var(--黒);
    mask: linear-gradient(to left, transparent calc(100% - 15px), var(--黒) 15px);
}

ul li {
    text-indent: -1.2em;
}

ul li::before {
    content: "・";
}

ul ul li::before {
    content: "︰";
}

ul ul ul li::before {
    content: "︙";
}

/* テーブルの話 */

table {
    border-spacing: 0;
    border-radius: var(--ra);
    border: 1px solid var(--黒);
    padding: 10px;
}

thead {
    text-align: left;
}

th,
td {
    margin: 0;
    padding: 0 10px;
}

.書き途中::after {
    content: "|";
    animation: dots 1.2s steps(2) infinite;
    line-height: 1rem;
    font-size: 1.2em;
}

@keyframes dots {

    0%,
    100% {
        content: "|";
    }

    50% {
        content: " ";
    }
}

/* 注釈の話 */

.すると出る {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    width: 250px;
    margin: 10px;
    padding: 10px;
    background-color: var(--背景色);
    border-radius: var(--ra);
    font-size: 0.8rem;
    font-weight: normal;
}

.カーソルを {
    display: inline-block;
    position: relative;
    cursor: help;
    text-decoration: underline var(--白);
}

.カーソルを:focus-within .すると出る {
    display: block;
}

.カーソルを:focus-within span {
    background-color: var(--白);
    border-radius: var(--ra);
    text-decoration: none;
}



/* ここからは直下のページそれぞれについてです */
/* ヘッダーの話 */
.ヘッダーのリンクたち {
    width: 100%;
    padding: 10px 0;
    font-size: 1.4em;
}

/* indexの話 */
.扉絵 {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.人 {
    position: absolute;
    z-index: 1;
    border-radius: var(--ra);
    padding: 2px 5px;
    max-height: 4em;
    max-width: 10em;
    background-color: var(--白);
    overflow: hidden;
}

.人:hover {
    max-height: 50em;
    max-width: 25%;
}

.バナー {
    display: inline-block;
    width: 200px;
    aspect-ratio: 5;
    vertical-align: text-top;
}

a.バナー:not(:has(img)) {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.SNSへのリンクたち a {
    padding: 2px 5px;
    margin-right: 0.5em;
}

.SNSへのリンクたち a:hover {
    padding: 2px 50px;
}

/* worksの話 */

.作品 {
    margin-bottom: 100px;
}

.作品 img {
    border-radius: var(--ra);
    display: block;
    width: 50%;
    margin: 0 0 20px 0;
}

.作品 img:hover,
.作品:not(:has(iframe)) img:first-of-type {
    width: 100%;

}

.作った人たち {
    text-align: right;
    margin-bottom: 20px;
    font-style: italic;
    letter-spacing: 0.2em
}

.作品の説明 {
    text-align: left;
    margin-bottom: 20px;
}

/* blogの話 */
.ブログ群 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    width: 100%;
    gap: 20px;
}

.ブログ {
    display: block;
    height: 330px;
    overflow: hidden;
}

.ブログ h2 {
    font-size: 1.1em;
}

.ブログの最初 {
    margin-bottom: 40px;
}

.ブログ div {
    color: var(--黒);
}

.ブログの投稿時間 {
    text-align: right;
    font-style: italic;
    font-size: 0.8em;
    letter-spacing: 0.2em;
}

.ブログ:hover {
    filter: drop-shadow(0 0 100px var(--白));
}

.ブログのサムネイル img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: var(--ra);
    display: block;
    margin: 0 0 10px 0;
}

.目次 {
    display: inline-block;
    border-radius: var(--ra);
    outline: 1px solid var(--黒);
    padding: 10px;
    margin-bottom: 20px;
}

.目次 h1 {
    font-size: 1.4em;
}

.目次 .h2 {
    margin-left: 20px;
}

.目次 .h3 {
    margin-left: 40px;
}

.目次 a {
    text-decoration: none;
    border-color: transparent;
    border-radius: var(--ra);
    padding: 5px 20px;
    color: var(--黒);
    line-height: 1.3em;
}

.目次 a:hover {
    border-color: var(--黒);
}

.目次 .横向き目次 {
    display: inline-block;
}

.目次 .横向き目次.h2,
.目次 .横向き目次.h3 {
    margin-left: 0;
}

.ブログの画像 {
    display: block;
    margin: 0 auto;
    width: 75%;
}

.ブログの映像 {
    display: block;
    margin: 0 auto;
    width: 60%;
}

.twitter-tweet {
    margin: 0 auto;
}

/* ここだけ関連記事の話 */
.関連記事 {
    margin-top: 50px;
    padding: 10px;
    position: relative;
}
.関連記事::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: calc(var(--ra) - 5px);
    border: 1px solid var(--黒);
    mask: linear-gradient(to top, transparent calc(100% - 15px), var(--黒) 15px);
}

.関連記事 div {
    margin-bottom: 10px;
}

.inリンク {
    text-align: left;
}
.inリンク::after {
    content: "→";
    margin-left: 5px;
}
.outリンク {
    text-align: right;
}
.outリンク::before {
    content: "→";
    margin-right: 5px;
}
.sameリンク {
    text-align: center;
}

.関連記事 a[href] {
    margin-right: 5px;
}

.空リンク[href] {
    color: var(--ページなし);
    border-color: var(--ページなし);
}

.承認欲求 {
    display: flex;
    justify-content: flex-end;
    margin: 50px 0 200px 0;
}

.承認欲求 div {
    margin-left: 40px;
    cursor: pointer;
    user-select: none;
}

.承認欲求 div:hover {
    font-weight: bold;
}

.承認欲求 span {
    margin-left: 10px;
}

/* スマホ用 */

@media screen and (max-width:900px) {
    body {
        width: 95%;
        padding: 5px;
        margin: 0 auto;
        font-size: 0.8em;
    }

    main {
        width: 100%;
    }

    .おおきな分類 {
        padding: 20px 0;
    }

    /* indexの話 */
    .扉絵 {
        width: 100%;
    }

    .人 {

        max-height: 2em;
        max-width: 25%;
    }

    .人:hover {
        max-height: 50em;
        max-width: 25%;
    }

    .作品 {
        margin-bottom: 20px;
    }

    .ブログの最初 {
        margin-bottom: 20px;
    }

    .目次 {
        margin: 0;
        margin-bottom: 20px;
    }

    .ブログ.カード {
        width: 90%;
    }

    .ブログの画像 {
        width: 100%;
    }

    .ブログの映像 {
        width: 100%;
    }
}

/* 4K用 */

@media screen and (min-width:2000px) {
    body {
        max-width: 2000px;
    }

    main {
        width: 1500px;
    }

    .横に狭い分類 {
        max-width: 1000px;
    }

    .ブログの画像 {
        width: 80%;
    }

    .ブログの映像 {
        width: 70%;
    }
}