<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title><タイトル>( 𝐼𝑑𝑒𝑜𝑎𝑣𝑒𝑠 )</title>
    <meta name="description" content="<説明>">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <RSS用>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="<SNSのタイトル>">
    <meta name="twitter:description" content="<説明>">
    <meta name="twitter:image" content="<画像>">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.7.0/p5.js"></script>
    <headの追加>
</head>


<body>
    <header>
        <div class="<ロゴclass>"></div>
        <div id="ヘッダー"></div>
    </header>

    <main>
            <ページの中身>
    </main>
    <script src="/JS.js"></script>
</body>

</html>
