body {
    background-color: #f8f9fa;
    display: block;
    margin: 0 auto;
    width: 1600px;
    height: 100%;
    font-family: sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

#data {
    white-space: pre;
    border-top: 1px solid #a2a9b1;
    margin: 80px 0 0 0;
    padding: 1em 2em 82px 10px;
    line-height: 2em;
    font-size: 12.8px;
}

main {
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 0 52px;
}

#letbody {
    margin: 0 auto;
    width: 960px;
    padding: 0 295px;
}

#sidemenu {
    display: table;
    padding: 7px;
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    font-size: 95%;
    list-style: none;
    width: 200px;
    margin: 7px;
}

#sidemenu h5{
    text-align: center;
    font-size: 100%;
    font-weight: bold;
}

.infobox {
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    color: black;
    width: 400px;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.2em;
    float: right;
    clear: right;
    text-align: left;
    font-size: 88%;
    line-height: 1.5em;
}

.infobox table {
    width: 100%;
}

.infobox tr {
    padding: 0.2em;
}

table .image{
    width: 100%;
    text-align: center;
    font-weight: normal;
}

.infobox tr .title {
    background-color: #ffc0c0;
    width: 100%;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
    overflow: hidden;
}

h1 {
    flex-wrap: nowrap;
    box-shadow: 0 1px #a2a9b1;
    align-items: center;
    font-weight: normal;
}

h2 {
    font-size: 150%;
    color: black;
    font-weight: normal;
    margin-top: 1em;
    margin-bottom: 0.6em;
    border-bottom: 1px solid #a2a9b1;
}

h2::after {
    content: "[ 編集 ]";
    color: rgb(6, 69, 173);
    font-size: small;
    margin-left: 1em;
    user-select: none;
    text-decoration: none;
}

.photo {
    max-width: 100%;
    width: 500px;
    margin: 0 0 0 auto;
    border: 1px solid #c8ccd1;
    background-color: #f8f9fa;
    font-size: 94%;
    padding: 5px;
}

.photo.center {
    width:50%;
    margin: 0 auto;
}

.photo img {
    width: 100%;
}