html {
    height: 100%;
    width: 100%;
  }

body {
    /* animation: 10s sea steps(30,end) infinite; */
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #000, #41516b);
    background-attachment: fixed; 
    background-size: cover;
    font-family: 'DotGothic16', Courier, monospace;
    color: #fff;
}

::selection {
    background: #FFF;
    color: #000;
}

canvas {
    display: block;
}

.rainbow {
    animation: 1s rainbow steps(1, end) infinite;
}

@keyframes sea {
    0% {
        background-color: #8a8a8a
    }

    25% {
        background-color: #135252
    }

    50% {
        background-color: #0e124d
    }

    75% {
        background-color: #353535
    }

    100% {
        background-color: #848484
    }
}

.rainbow {
    animation: 1s rainbow steps(1, end) infinite;
}

@keyframes cursor {
    1% {
        background-color: #fff
    }

    49% {
        background-color: #fff
    }

    51% {
        background-color: #0000
    }

    99% {
        background-color: #0000
    }
}

.cursor {
    animation: 1s cursor steps(1, end) infinite;
    position: relative;
    width: 1px;
    height: 1.1em;
    top: 2px;
}

header {
    padding: 100px;
    padding-bottom: 0;
    line-height: 1.5em;
    font-feature-settings: "palt";
  }
  
  header span {
    display: inline-block;
  }
  
  header img {
    width: 30%;
  }
  
  .point_nemo {
    letter-spacing: 2px;
    line-height: 3em;
    font-size: 0.9em;
    margin: 50px 0;
  }
  
  .sec {
    padding: 0;
    margin: 100px auto;
    font-size: 1em;
  }

.sec::after {
    padding: 0 20%;
    letter-spacing: 5px;
    font-family: Courier, monospace;
    font-size: 1.3em;
    font-weight: 200;
    content: "}";
}

h1 {
    padding: 0 20%;
    color: #FFF;
    font-family: Courier, monospace;
    letter-spacing: 5px;
    font-size: 1.3em;
    font-weight: 200;
    margin-top: 50px;
}

h1::after {
    content: "() {";
}

.text {
    max-width: 800px;
    padding: 0 20%;
    margin: 50px auto;
    line-height: 3em;
    font-size: 13px;
    letter-spacing: 2px;
}

.text span {
    height: 1em;
    background-position: center;
    display: inline-block;
}

.keyword {
    margin: 3px 5px;
    padding: 0 5px;
    background-image : linear-gradient(to right, #FFF 1px, transparent 0px),linear-gradient(to bottom, #FFF 1px, transparent 2px),linear-gradient(to left, #FFF 1px, transparent 2px),linear-gradient(to top, #FFF 1px, transparent 2px);
    background-size: 1px 1px,1px 1px,1px 1px,1px 1px;
    background-repeat: no-repeat;
    background-position:left top,right top,right bottom,left bottom;
}

.text a {
    text-decoration: none;
}

.text a:link,
a:visited {
    background: #FFF;
    color: #000;
    padding: 0 5px;
    margin: 0 5px;
}

.text a:hover {
    background: #ffffff80;
    color: #000;
}

.text a.nobar {
    background: none;
}

main {
    padding: 0.1px;
    margin: 0 auto;
}

.namelogo {
    height: 30px; 
    margin-right: 30px;
}


.center {
    text-align: center;
}

.icon {
    width: 40px;
    margin: 0 25px;
}

.in-prof {
    max-width: 800px;
    margin: 100px auto;
    display: flex;
}

.prof {
    background-color: #b7b7b7;
    padding: 0 50px;
    font-feature-settings: "palt";
}

.prof_box {
    display: flex;
    width: 100%;
}

.prof#ceta {
    background-color: #f3f3f3;
    color: #484848;
}

#ceta .p_text {
    background-image: linear-gradient(90deg, transparent 0%, #f3f3f3b0 10%);
}

.prof#miu {
    background-color: #ea0081;
    color: #fff;
}

#miu .p_text {
    background-image: linear-gradient(90deg, transparent 0%, #ea0081b0 10%);
}

.prof#chep {
    background-color: #212430;
    color: #fff;
}

#chep .p_text {
    background-image: linear-gradient(90deg, transparent 0%, #212430b0 10%);
}

.prof#ruye {
    background-color: #e5e2dd;
    color: #131313;
}

#ruye .p_text {
    background-image: linear-gradient(90deg, transparent 0%, #e5e2ddb0 10%);
}


.tachie {
    margin: 0 -40px 0 40px;
    height: 400px;
}

.p_text {
    margin: 0 40px 0 -40px;
    padding: 0 20px;
    text-align: center;
    position: relative;
    z-index: 3;
    letter-spacing: 2px;
    font-weight: 200;
}

.p_tab {
    font-size: 13px;
    line-height: 1em;
}
.p_tab::after {
    padding: 0 0.4em;
    content: ";";
}

.p_tab .bold::after {
    content: " = ";
}

.logo {
    width: 50%;
    min-width: 200px;
    margin: 0 auto;
}

h2 {
    margin: 0;
    font-family: Courier, monospace;
    letter-spacing: 2px;
    font-weight: 200;
}

.intro {
    text-align: left;
    font-size: small;
    font-weight: 600;
    font-feature-settings: "pwid", "halt";
    line-height: 1.5em;
}

.intro .p_main {
    margin-bottom: 10px;
    padding: 10px 0;
}

footer {
    font-size: 12px;
    margin: 0;
    padding: 10px 0;
}
@media (max-width: 1200px) {
    .prof_box {
        display: block;
        width: 100%;
    }
    .prof {
        padding: 50px;
    }
}
@media (max-width: 600px) {
    header {
      padding: 100px 100px 0 100px;
    }
    header img {
      width: 100%;
    }
    .point_nemo {
      font-size: 0.5em;
      line-height: 2em;
      margin: 20px -60px;
    }
    .sec {
      margin: 10px auto;
    }
    .sec::after {
        padding: 0 10%;
        font-size: 1em;
        content: "}";
    }
    .text {
    font-size: 11px;
    }
    h1 {
        padding: 0 10%;
        font-size: 1em;
        white-space: nowrap;
    }

    .namelogo  {
        margin-right: 20px;
    }

    .in-prof {
        display: block;
        width: 80%;
        padding: 0px;
        margin: 0px auto;
    }
    .prof {
        padding: 0px;
    }
    #ceta .p_text {
        background-image: linear-gradient(0deg, #f3f3f3b0 80%, transparent 100%);
    }
    #miu .p_text {
        background-image: linear-gradient(0deg, #ea0081b0 80%, transparent 100%);
    }
    #chep .p_text {
        background-image: linear-gradient(0deg, #212430b0 80%, transparent 100%);
    }
    #ruye .p_text {
        background-image: linear-gradient(0deg, #e5e2ddb0 80%, transparent 100%);
    }
    .tachie {
        margin: 10px -20px;
        padding: 20px;
        height: auto;
        width: 100%;
        text-align: center;
    }
    .p_text {
        margin: 0;
        margin-top: -350px;
        padding: 0;
        padding-bottom: 20px;
    }
    .intro {
        font-size: 10px;
    }
    .p_tab {
        font-size: 10px;
    }
    .logo {
        width: 80%;
        min-width: 0;
    }
    footer {
        font-size: 10px;
    }
}