body {
    /* animation: 10s sea steps(30,end) infinite; */
    background-image: linear-gradient(0deg, #000, #091319);
    margin: 0 auto;
    height: 100%;
    width: 100%;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    color: #fff;
}

canvas {
    display: block;
  }

.rainbow {
    animation: 1s rainbow steps(1,end) infinite;
}

@keyframes sea {
    0% {
        background-color: #8a8a8a
    }
    25% {
        background-color: #135252
    }
    50% {
        background-color: #0e124d
    }
    75% {
        background-color: #353535
    }
    100% {
        background-color: #848484
    }
}
.rainbow {
    animation: 1s rainbow steps(1,end) infinite;
}

@keyframes rainbow {
    10% {
        color: #ff0000
    }
    30% {
        color: #ffff00
    }
    50% {
        color: #00ffff
    }
    70% {
        color: #0000ff
    }
    90% {
        color: #ff00ff
    }
}

header {
    padding: 100px;
    line-height: 1.5em;
    font-feature-settings: "palt";
    margin-bottom: 100px;
}

header span {
    display: inline-block;
}

header img {
    width: 30%;
    @media (max-width: 600px) {
    width: 100%;
    }
}

.point_nemo {
    letter-spacing: 2px;
    line-height: 3em;
    font-size: 0.9em;
    margin: 50px 0;
    @media (max-width: 600px) {
        font-size: 0.6em;
        margin: 50px -60px;
        }
}

.sec {
    padding: 0;
    margin: 100px auto;
}

.text{
    max-width: 800px;
    padding: 0 20px;
    margin: 0 auto;
    line-height: 2em;
}

main {
    padding: 0.1px;
    margin: 0 auto;
}


.center {
    text-align: center;
}


.bold {
    padding: 0 0.4em;
    color: #fff;
    background-color: #484848;
}

.in-prof {
    max-width: 800px;
    margin: 100px auto;
    display: flex;
    @media (max-width: 900px) {
        display: block;
        width: 80%;
        padding: 0px;
        margin: 0px auto;
        }
}

.prof {
    background-color: #b7b7b7;
    padding: 50px;
    @media (max-width: 900px) {
        padding: 0px;
        }
    font-feature-settings: "palt";
}

.prof#ceta{
    background-color: #f3f3f3;
    color: #484848;
}
#ceta .p_text {
    background-image: linear-gradient(90deg, transparent 0%, #f3f3f3b0 10%);
    @media (max-width: 900px) {
    background-image: linear-gradient(0deg, #f3f3f3b0 80%, transparent 100%);
    }
}

.prof#miu{
    background-color: #ea0081;
    color: #fff;
}
#miu .p_text {
    background-image: linear-gradient(90deg, transparent 0%, #ea0081b0 10%);
@media (max-width: 900px) {
    background-image: linear-gradient(0deg, #ea0081b0 80%, transparent 100%);
    }
}

.prof#chep{
    background-color: #212430;
    color: #fff;
}
#chep .p_text {
    background-image: linear-gradient(90deg, transparent 0%, #212430b0 10%);
@media (max-width: 900px) {
    background-image: linear-gradient(0deg, #212430b0 80%, transparent 100%);
    }
}

.prof#ruye{
    background-color: #e5e2dd;
    color: #131313;
}
#ruye .p_text {
    background-image: linear-gradient(90deg, transparent 0%, #e5e2ddb0 10%);
    @media (max-width: 900px) {
    background-image: linear-gradient(0deg, #e5e2ddb0 80%, transparent 100%);
    }
}


.tachie {
    margin: 0 -40px 0 40px;
    height: 400px;
    @media (max-width: 600px) {
        margin: 10px auto;
        height: auto;
        width: 100%;
        text-align: center;
        }
}

.p_text {
    margin: 0 40px 0 -40px;
    padding: 0 20px;
    text-align : center;
    position:relative;
    z-index: 3;
    @media (max-width: 600px) {
        margin: 0;
        margin-top: -300px;
        padding-bottom: 20px;
    }
}

.p_tab {
    font-size: small;
}

.logo {
    width: 50%;
    margin: 0 auto;
    @media (max-width: 600px) {
        width: 80%;
        }
}

h1 {
    text-align: center;
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px;
    font-size: 1.5em;
    font-weight: 200;
    margin: 50px 0;
    @media (max-width: 600px) {
        font-size: 1em;
        white-space: nowrap;
        }
}

h2 {
    margin: 0;
    
}

.intro {
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    font-feature-settings:"pwid", "halt";
    line-height: 1.5em;
}

.intro p {
    margin-bottom: 10px;
    padding: 10px;
}

.intro .bold {
    margin-right: 1em;
}
